sudo add-apt-repository ppa:fkrull/deadsnakes
sudo apt-get update
sudo apt-get install python3.5

cd /path/to/repo/neronet
python3.5 -m venv ./venv --without-pip
source ./venv/bin/activate
wget https://bootstrap.pypa.io/get-pip.py
venv/bin/python3.5 get-pip.py
venv/bin/pip3.5 install -r requirements.txt

sudo apt-get install python3.5-dev
